@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1446px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.center{
    display: flex;
    justify-content: center;
}
body {
    font-family: "Syne";
    background: #F0F8FF;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

span {
    display: inline-block;
}

.cmn-head {
    font-weight: 600;
    font-size: 45px;
    color: #122732;
}

.cmn-para {
    font-size: 20px;
    color: rgba(97, 96, 102, 0.8);
}

.btn-hover-effect {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
}

.btn-hover-effect:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #70bdca;
    box-shadow: 4px 5px 17px -4px #268391;
}

.btn-hover-effect::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.btn-hover-effect:hover::before {
    width: 250%;
}


header {
    padding-top: 13px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav-wrpr,
.navbar-collapse,
.navbar-collapse>ul {
    display: flex;
    align-items: center;

}

.navbar-collapse {
    flex-grow: 2;
}

.navbar-collapse ul {
    margin: 0 auto;
    gap: 85px;
}

.nav-log img {
    max-width: 81px;
    object-fit: contain;
    width: 100%;
}

.navbar-collapse a:hover {
  color: #ff6b35;
}
.nav-toggler {
    display: none;
    color: white;
}

/* toggler effect */
.nav-toggler {
    position: relative;
    z-index: 1001;
    padding: 20px;
    cursor: pointer;
}

.container1 {
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
}

.checkmark {
    position: relative;
    height: 100%;
    width: 100%;
}

.checkmark span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    left: 0;
    transition: all 0.7s ease-in-out;
    pointer-events: none;
}

.checkmark span:nth-child(1) {
    top: 0;
}

.checkmark span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.checkmark span:nth-child(3) {
    bottom: 0;
}

/* Hamburger animation when active */
.container1.active .checkmark span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.container1.active .checkmark span:nth-child(2) {
    opacity: 0;
}

.container1.active .checkmark span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.active {
    display: flex !important;
}

.navbar-collapse ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.nav-btn .btn-hover-effect {
    padding: 14px 35px;
    background-color: #122732;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
  font-size: 16px;
}


.banner2-section {
    padding: 168px 0 !important;
    background: url("./asstes/hero-bg-3.svg") no-repeat center/cover;
}



.banner-content h1 {
    font-size: 68px;
    line-height: 81px;
    font-weight: 700;
    color: #FFFFFF;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 75px;
    
}

.pagination .active {
    padding: 8.5px 14px;
    background-color: #7080D0;
    color: #FFFFFF;
    border-radius: 8px;
}

.pagination a {
    font-family: "Poppins", sans-serif;
    font-size: 15.26px;
    font-weight: 600;
    color: #333333;
    padding: 8.5px 14px;
    background-color: #F1F1F1;
    border-radius: 8px;
}





@media screen and (max-width : 991px) {
    .nav-toggler {
        display: block;
        margin-left: auto;
        z-index: 9999;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color: #123344;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translate(100%, -100%) scale(0.8);
        opacity: 0;
        pointer-events: none;
        transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1), opacity 1s ease-in-out;
        padding-top: 80px;
        z-index: 9998;
    }

    .navbar-collapse.active {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    .navbar-collapse ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar-collapse .nav-btn {
        margin-top: 20px;
    }

    .navbar-collapse ul li a {
        color: white;
    }

    /* .navbar-collapse,
    .navbar-collapse ul {
        flex-direction: column;
        align-items: center;
        gap: 8px;
        background-color: #123344;
        padding-top: 100px;

    }

    .navbar-collapse .nav-btn {
        text-align: center;
        margin-top: 10px;
    } */

    /* .banner-content {
        padding: 100px 0;
    } */

    .banner-content h1 {
        font-size: 40px;
        line-height: 60px;
    }

    .banner-content p {
        font-size: 16px;
    }

}
@media screen and (max-width : 1024px) {

    .cmn-head {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .cmn-para {
        font-size: 15px;
    }

    .testimonials {
        padding-top: 50px;
    }
}

@media screen and (max-width : 768px) {

    .cmn-head {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .cmn-para {
        font-size: 14px;
    }

    .testimonials {
        padding-top: 30px;
    }

    .navbar-collapse,
    .navbar-collapse ul {
        gap: 6px;
    }

    .navbar-collapse ul li a {
        font-size: 14px;
    }

    .nav-btn .btn-hover-effect {
        font-size: 14px;
        padding: 16px 25px;
    }
}

@media screen and (max-width : 576px) {
    .cmn-head {
        font-size: 22px;
        margin-bottom: 6px;
    }

    .cmn-para {
        font-size: 13px;
    }

    .navbar-collapse,
    .navbar-collapse ul {
        gap: 4px;
    }

    .navbar-collapse {
        width: 100%;
    }

    .navbar-collapse ul li a {
        font-size: 10px;
    }

    .nav-btn .btn-hover-effect {
        font-size: 10px;
        padding: 13px 18px;
    }

    .banner-content h1{
        font-size: 20px;
    }

    .pagination{
        margin-top: 10px;
    }
    

}


/* section8 */
.section-8{
  margin-top: 75px;
}

.col-12 {
  width: 100%;
}

.col-4 {
  width: 33.33%;
}
.banner-8 {
  display: flex;
  gap: 24px;
  margin-top: 50px;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
}
.banner8-text > h2 {
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  color: #122732;
}

.banner8-text > p {
  font-weight: 400;
  font-size: 20px;
  color: #616066;
  text-align: center;
  margin-top: 15px;
}

.banner8-card {
  max-width: 456px;
  min-height: 435px;
  border-radius: 25px;
   /* box-shadow: 0 10px 20px 0 #1A1A1A;  */
  /* border: 2px solid black; */
  padding: 16px 16px;
  background-color: white;
}

.banner8-card > h4 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
}
.banner8-card > p {
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
  color: #616066;
}
.banner8-image {
  max-width: 424px;
  min-height: 224px;
  width: 100%;
  /* top: 159px; */
  /* left: 16px; */
  border-radius: 25px;
}
.read {
  display: flex;
  margin-top: 20px;
  font-family: Syne;
  font-weight: 500;
  font-size: 20px;
  color: #252525;
  gap: 5px;
}
.read>img{
  max-width: 24px;
  min-height: 24px;
  object-fit: contain;
  width: 100%;
}

a {
  text-decoration: none;
}
.banner8-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* footer */


 footer {
    padding: 50px 0;
    background-color: #122732;
    color: white;
    margin-top: 75px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}  


footer a:hover {
    transform: scale(1.2);
}

.child-foot a:hover {
    color: #268391;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.footer-top h2 {
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}

.footer-top p {
    max-width: 263px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 20px;
}

.newsletter-form input {
    padding: 17px 30px;
    max-width: 289px;
    width: 100%;
    border-radius: 8px;
    background-color: #123344;
    color: white;
    outline: none;
    border: none;
}

.newsletter-form input::placeholder {
    color: #ffffff;
    opacity: 0.6;
    font-size: 14px;
}

.bttn {
    padding: 14.5px 30px;
    max-width: 158px;
    border-radius: 10px;
    color: #fff;
    border: none;
    background-color: #000000;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    background-size: 400%;
}

.bttn:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
    text-align: center;
    right: 10px;
}

.bttn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #123344;
    transition: all 0.475s;
}



footer .row {
    border-top: 1px solid rgba(255, 255, 255, 0.60);
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
    padding: 50px 0;
}

.phone {
    display: flex;
    align-items: center;
    gap: 15px;
}

.foot-1 p {
    font-size: 18px;
    font-weight: 700;
}

.email {
    display: flex;
    align-items: center;
    gap: 15px;
}

.col-25 {
    width: 25%;
    padding: 0 15px;
}

.child-foot h3 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.location {
    display: flex;
    align-items: center;
    gap: 15px
}

.location p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    color: white;
}

.foot-images {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
}

.img>img {
    max-width: 96px;
    object-fit: contain;
    width: 100%;
}

.foot-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.child-foot ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 17px;
}

.child-foot ul li a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
}

.bottom-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.bottom-right-foot {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-right-foot p {
    font-weight: 500;
    font-size: 18px;
}

.foot-txt {
    font-weight: 700;
    font-size: 20px;
}

.fa-brands {
    display: inline-block;
    font-size: 25px;
    border-radius: 50%;
    padding: 13px;
    background-color: #123344;
    transition: all 0.4s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.fa-brands:hover {
    transform: scale(1.2);
    border-radius: 15px;
}

.fa-facebook:hover {
    background-color: #1877F2;
}

.fa-x-twitter:hover {
    background-color: #000000;
}

.fa-instagram:hover {
    background-color: #d62976;
}

.fa-linkedin:hover {
    background-color: #0072b1;
} 




@media screen and ( max-width:1200px ){
.section-8{
  margin-top: 50px;
}

.banner-8{
  padding: 0 20px;
}

  .banner8-card {
    margin: auto;
  }
  .banner-8 {
    margin-top: 20px;
  }

  .col-4 {
    width: 100%;
  }
  .banner8-image {
    min-height: 170px;
  }
  .banner8-card>p{
    margin-top: 15px;
  }

  .banner8-card {
    min-height: 385px;
  }

  .banner8-text > h2 {
    font-size: 35px;
  }

  .banner8-text > p {
    font-size: 15px;
  }

  
   /* footer */ 

    footer {
    padding: 50px 0;
  }

  .footer-top {
    margin-bottom: 40px;
  }

  .footer-top h2 {
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
  }

  .footer-top p {
    font-size: 16px;
    margin-top: 18px;
  }

  .newsletter-form {
    gap: 6px;
    margin-top: 18px;
  }

  .newsletter-form input {
    padding: 16px 29px;
  }

  .newsletter-form input::placeholder {
    font-size: 14px;
  }

  .newsletter-form button {
    padding: 14px 29px;
    font-size: 17px;
  }

  footer .row {
    padding: 45px 0;
  }

  .phone {
    gap: 14px;
  }

  .foot-1 p {
    font-size: 11px;
  }

  .email {
    gap: 14px;
  }

  .child-foot h3 {
    font-size: 20px;
    margin-bottom: 14px;
  }

  .location {
    gap: 14px;
  }

  .location p {
    font-size: 13px;
    line-height: 23px;
  }

  .foot-images {
    gap: 18px;
  }

  .foot-images img {
    max-width: 70px;
  }

  .foot-1 {
    gap: 29px;
  }

  .child-foot ul {
    gap: 16px;
  }

  .child-foot ul li a {
    font-size: 13px;
  }

  .bottom-foot {
    padding-top: 45px;
  }

  .bottom-right-foot {
    display: flex;
    align-items: center;
    gap: 19px;
  }

  .bottom-right-foot p {
    font-size: 16px;
  }

  .foot-txt {
    font-size: 18px;
  }

  .fa-brands {
    font-size: 24px;
    padding: 12px;
  }

}

@media screen and ( max-width:992px ){
    /* section8 */

.banner8-image{
  min-height: 138px;
}

.banner8-card{
  min-height: 360px;
}

.read{
  margin-top: 10px;
}
.banner8-card>p{
    margin-top: 10px;
  }

}


@media screen and ( max-width:768px ){
    .section-8{
  margin-top: 30px;
}

  .banner8-image{
  min-height: 114px;
}

/* footer */

.footer {
    padding: 25px 0;
  }

  .footer-top {
    margin-bottom: 30px;
  }

  .footer-top h2 {
    font-size: 25px;
  }

  .footer-top p {
    font-size: 14px;
    margin-top: 15px;
  }

  .newsletter-form {
    gap: 5px;
    margin-top: 15px;
  }

  .newsletter-form input {
    padding: 15px 25px;
  }

  .newsletter-form input::placeholder {
    font-size: 12px;
  }

  .newsletter-form button {
    padding: 12px 25px;
    font-size: 14px;
  }

  footer .row {
    padding: 35px 0;
  }

  .phone {
    gap: 12px;
  }

  .foot-1 p {
    font-size: 9px;
    text-wrap: nowrap;
  }

  .email {
    gap: 10px;
  }

  .col-25 {
    width: 50%;
  }

  .child-foot h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .location {
    gap: 10px;
  }

  .location p {
    font-size: 14px;
    line-height: 20px;
  }

  .foot-images {
    gap: 15px;
  }

  .foot-images img {
    max-width: 60px;
  }

  .foot-1 {
    gap: 20px;
  }

  .child-foot ul {
    gap: 12px;
  }

  .child-foot ul li a {
    font-size: 14px;
  }

  .bottom-foot {
    padding-top: 45px;
  }

  .bottom-right-foot {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .bottom-right-foot p {
    font-size: 14px;
  }

  .foot-txt {
    font-size: 14px;
  }

  .fa-brands {
    font-size: 20px;
    padding: 10px;
  }

  footer .row {
    row-gap: 20px;
  }

}

@media screen and ( max-width:576px ){
     /* section8 */

  .section-8{
  margin-top: 10px;
}


  .banner-8{
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 0px;
    margin-top: 10px;
  }
  .banner8-text > h2 {
    font-size: 20px;
  }
  .banner8-text > p {
    font-size: 15px;
  }
 
  .banner8-image {
    min-height: 130px;
  }
  .banner8-card {
    min-height: 145px;
    /* padding: 20px 20px ; */
  }
  .banner8-card > p {
    margin-top: 5px;
    font-size: 10px;
  }
  .banner8-card > h4 {
    margin-top: 0px;
    font-size: 12px;
  }
  .read {
    margin-top: 5px;
    font-size: 14px;
  }
  .read>img{
    max-width: 15px;
    min-height: 15px;
  }

  
  .section-8{
    /* padding: 20px 20px; */
  }
  .banner8-text > p{
    margin-top: 10px;
    font-size: 12px;
  }
 /* footer */
 footer .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 30px 0; */
    /* row-gap: 15px; */
    text-align: center;
  }

  .phone,
  .email,
  .location,
  .foot-images,
  .bottom-right-foot {
    gap: 8px;
  }

  .location {
    justify-content: center;
  }

  .foot-images {
    justify-content: space-evenly;
  }

  .foot-images img,
  .foot-1 img {
    max-width: 35px;
  }

  .fa-brands {
    font-size: 15px;
    padding: 8px;
  }

  .child-foot h3 {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .child-foot ul {
    gap: 10px;
  }

  .bottom-foot {
    padding-top: 35px;
  }

  .foot-1 {
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: space-between; */
    gap: 18px;
  }
}